@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat';
}

:root{
  --blue: #3092D9;
  --black: #333237;
  --grey: #7B7B7B;
  --grey-soft: #DDE5E9;
  --orange: #FF6C00;
  --blue-pressed: #15578F;
  --line-stroke: #DDE5E9;
  --white: #FFFFFF;
  --background: #FAF9FB;
  --blue-soft: #B9DBF4;
}


.spacer {
  height: 50px;
}

.btn {
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: 0.18px;
  border: none !important;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus {
  background-color: var(--blue) !important;
  color: var(--white) !important;
}

/* HOME - NAVBAR */

.menu a{
    text-decoration: none;
    font-weight: 600;
}

.navbar {
    transition: background-color 0.5s ease;
}

.nav-item .nav-link{
    font-size: 20px;
    gap: 20px;
    color: var(--grey-soft);
}

/* HOME - HERO */

.hero-btn{
    width: 118px;
    height: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 100px;
    border: 2px solid var(--white);
    color: var(--white);
    text-align: center;
    background-color: transparent;
}

.hero-title{
    font-weight: 700;
    color: var(--white);
    font-size: 56px;
    line-height: 68.26px;
}

.hero-desc{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--white);
}

/* HOME - EXPERIENCE */
#experience .experience-title{
    width: 200px;
    height: 44px;
    border-radius: 100px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    background-color: #FF6C0033;
    color: var(--orange);
    font-size: 18px;
    font-weight: 600;
}

#experience .experience-sub-title {
    color: #333237;
    font-size: 45px;
    font-weight: 600;
    line-height: 48.76px;
}

#experience .experience-desc{
    font-size: 20px;
    line-height: 28px;
    color: var(--grey);
    margin-top: 15px;
}

#experience .count-stats{
    font-size: 40px;
    color: var(--grey);
    line-height: 48.76px;
}

#experience .desc-stats{
    font-size: 18px;
    color: var(--grey);
    line-height: 21.94px;
}
#experience .line {
  border: 2px solid var(--line-stroke);
  height: 70px;
}

#experience .btn-package{
    width: 194px;
    height: 52px;
    border-radius: 8px;
    background-color: var(--blue);
    border: none;
    color: white;
    margin-top: 20px;
    margin-right: 40px;
    
}

#experience .btn-package:hover{
    width: 194px;
    height: 52px;
    border-radius: 8px;
    background-color: var(--orange);
    border: none;
    color: white;
    margin-top: 20px;
}

#experience .btn-contact{
    width: 139px;
    height: 52px;
    border-radius: 8px;
    background-color: var(--blue);
    border: none;
    color: white;
    margin-top: 20px;
}

#experience .btn-contact:hover{
    width: 139px;
    height: 52px;
    border-radius: 8px;
    background-color: var(--orange);
    border: none;
    color: white;
    margin-top: 20px;
}

/* HOME - SERVICES */

#service .service-title{
  width: 170px;
  height: 44px;
  border-radius: 100px;
  padding: 10px 20px 10px 20px;
  background-color: #FF6C0033;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  color: var(--orange);
}

#service .service-sub-title{
    font-size: 35px;
    line-height: 48.76px;
    font-weight: 600;
    color: #333237;
}

#service.service-desc{
    font-size: 20px;
    line-height: 28px;
    margin-left: 50px;
    color: #7B7B7B;
}

#service .service-btn{
    width: 145px;
    height: 52px;
    border-radius: 8px;
    border: 1px solid #7B7B7B;
    background-color: transparent;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
    color: #7B7B7B;
    text-decoration: none;
}

#service .service-btn:hover{
    width: 145px;
    height: 52px;
    border-radius: 8px;
    border: 1px solid #FF6C00;
    background-color: #FF6C00;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
    letter-spacing: 1%;
    color: white;
}

#service .service-categories{
    width: 338px;
    height: 338px;
    background-color: #3092D9;
    border-radius: 20px;
}

#service .content-categories{
  height: 100%;
  margin: auto;
  padding-top: 90px;
  padding-left: 20px;
  padding-right: 20px;
}
#service .service-categories:hover{
    width: 338px;
    height: 338px;
    background-color: #FF6C0033;
    color: #FF6C00;
    border-radius: 20px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

#service .service-categories:hover .categories-title p,
#service .service-categories:hover .categories-desc p{
  color: #FF6C00;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.service-categories .hover-img {
  display: none;
}

.service-categories:hover .default-img {
  display: none;
}

.service-categories:hover .hover-img {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  display: inline-block;
}

#service .categories-title{
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    color: white;
}   

#service .categories-icon{
    width: 41px;
    height: 34px;
}


#service .categories-desc{
    font-size: 16px;
    line-height: 23px;
    color: #DDE5E9;
}

.wrapper .carousel{
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  white-space: nowrap;

}

.carousel .overflow-auto{
    overflow-x: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    white-space: nowrap;
}

/* HOME - DESTINATION */
#destination{
    background: linear-gradient(#3092D9 65%, white 20%);
    width: 100%;
}

#destination .destination-slider{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#destination .slider{
  margin-right: 50px;
}

#destination .slider:last-child{
  margin-right: 0;
}

#destination .destination-title{
    width: 214px;
    height: 44px;
    border-radius: 100px;
    border: 2px solid #DDE5E9;
    background-color: transparent;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #7B7B7B;
    margin: auto;
    margin-top: 70px;
    justify-content: center;
    margin-bottom: 30px;
}
#destination .destination-title p{
    text-align: center;
    color: white;
    /* font-size: 20px; */
    font-weight: 600;
    line-height: 24px;
}

#destination .destination-sub-title{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: white;
}

#destination .destination-image img{
    width: 350px;
    height: 400px;
    border-radius: 15px;
}

#destination .destination-1{
    margin-top: 100px;
}
#destination .destination-3{
    margin-top: 100px;
}

#destination .destination-btn{
    width: 251px;
    height: 44px;
    border-radius: 8px;
    border: 2px solid #7B7B7B;
    background-color: transparent;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #7B7B7B;
    margin: auto;
    display: block;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: -40px;
}

#destination .destination-btn:hover{
    background-color: #FF6C00;
    border: #FF6C00;
    color: white;
}

#destination .img-hover-zoom {
  width: 350px;
  height: 400px;
  overflow: hidden;
  border-radius: 15px;
}

#destination .img-hover-zoom img {
  transition: transform .1s ease;
  border-radius: 15px;
  width: 350px;
}

#destination .img-hover-zoom:hover img {
  transform: scale(1.2);
  border-radius: 15px;
  width: 350px;
}

#destination  .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
#destination .image-text {
    position: absolute;
    top: 80%;
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
  }

/* HOME - TESTIMONIAL */

.testi-title{
    width: 170px;
    height: 44px;
    background-color: #FF6C0033;
    border-radius: 100px;
    color: #FF6C00;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    line-height: 24.38px;
}

.testi-sub-title{
    width: 408px;
    font-size: 40px;
    line-height: 48.76px;
    font-weight: 600;
    color: #333237;
    margin-top: 30px;
}

.testi-desc{
    width: 429px;
    height: 56px;
    font-size: 20px;
    line-height: 28px;
    margin-left: 40px;
    color: #7B7B7B;
}

.testi-card{
    background-color: #FAF9FB;
    border-radius: 20px;
    /* width: 1280px; */
    height: auto;
}

.testi-story{
    margin-top: 105px;
    margin-bottom: 105px;
    margin-left: 120px;
}

.testi-rating{
    display: flex;
    align-items: center; 

}

.testi-rating img{
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.testi-rating p{
    font-size: 24px;
    color: #7B7B7B;
    font-weight: 600;
    margin-bottom: 0;
}

.testi-comment{
    font-size: 24px;
    line-height: 34px;
    color: #7B7B7B;
    margin-top: 40px;
}

.testi-line{
    width: 450px;
    border: 2px solid #DDE5E9;
    margin-top: 40px;
}

.testi-nama{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #7B7B7B;
}

.testi-jabatan{
    font-size: 16px;
    color: #7B7B7B;
}

.testi-img img{
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 120px;
}

/* HOME - MEMBER */

.partner-container{
    text-align: center;

}
  
.partner-container img{
    display: inline-block;
    margin: 0px auto;
}
  
.partner-container img{
    margin-right: 102px;
}

.partner-container img:last-child {
    margin-right: 0;
}

/* HOME - FOOTER */

#footer {
   background-color: #3092D9;
   background-image: url('../img/vector.png');
   background-repeat: no-repeat;
   background-position: right;
}

#footer h3{
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  color: var(--white);
  margin-bottom: 18px;
  margin-top: 110px;
}

.footer-logo{
    margin-top: 75px;
}
  
.footer-about{
    /* width: 517px; */
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 20px;
}

.footer-sosmed{
    margin-top: 15px;
}

.icon{
    font-size: 30px;
    margin-right: 30px;
    color: var(--white);
}

.footer-menu p{
    margin-top: 110px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
    color: white;
}

.footer-menu li{
    list-style: none;
    margin-bottom: 20px;

}
.footer-menu li:last-child{
    list-style: none;
    margin-bottom: 0px;

}
.footer-menu a{
    text-decoration: none;
    font-size: 20px;
    line-height: 24.38px;
    color: #FFFFFF;
}

.footer-menu a:hover{
    text-decoration: none;
    font-size: 20px;
    line-height: 24.38px;
    color: #FF6C00;
}

.copyright{
    text-align: center;
    font-size: 20px;
    color: #DDE5E9;
    margin-top: 91px;
    margin-bottom: 18px;
}



  /* SERVICES PAGE */

  /* SERVICE - NAVBAR */
  .nav-service{
    background-color: #3092D9;
  }

  .nav-service a{
    font-size: 20px;
  }

  /* SERVICE - HEADER */
  .header-top {
    width: 100%;
    background-color: #FAF9FB;
    align-items: center;
    margin-top: 79px;
  }

  .header-top .container{
    padding-left: 0;

  }

  .img-bg {
      margin-top: 20px;
  }

  .header-title{
    font-size: 40px;
    color: #15578F;
    font-weight: 600;
  }

  #services-page .service-title{
    width: 177px;
    height: 44px;
    border-radius: 100px;
    background-color: #FF6C0033;
    color: var(--orange);
    padding: 10px 20px;
    font-size: 20px;
    line-height: 24.38px;
    letter-spacing: 5px;
    font-weight: 600;
    text-align: center;
  }

  #services-page .service-sub-title{
    margin-top: 40px;
  }

  #services-page .service-sub-title h3{
    font-size: 40px;
    font-weight: 600;
    line-height: 48.76px;
    color: var(--black);
  }

  #services-page .service-desc{
    margin-top: 20px;
    font-size: 20px;
    line-height: 28px;
    color: var(--grey);
  }

  #categories .nav .nav-item:not(:last-child){
      border-right: 4px solid var(--line-stroke);
      margin-right: 30px;
  }

  #categories .nav-item a{
      font-size: 24px;
      font-weight: 500;
      line-height: 29.26px;
      margin-right: 30px;

  }

  #categories .nav {
    flex-wrap: nowrap; 
    overflow-x: auto;
  }

#categories .slider-tab {
    overflow-x: auto;
    white-space: nowrap;
}


  #categories .nav-link.active,
  #categories .nav-link:hover,
  #categories.nav-link:focus {
      color: var(--blue);
      font-weight: 600;
  }

  #categories .nav-link.active::after {
      content: "";
      display: block;
      width: 100%; 
      height: 10px; 
      margin-top: 5px;
      background-image: url('../img/tab-active.png'); 
      background-repeat: no-repeat; 
  }

  #categories .content-smart-vacation .vacation-card{
    background-color: var(--blue);
    background-image: url('../img/map-desc.png');
    border-radius: 20px;
    padding: 70px 90px 75px;
    background-size: cover;
  }

  #categories .content-smart-vacation .vacation-title h3{
    text-align: center;
    font-size: 40px;
    color: var(--white);
    line-height: 48.76px;
    font-weight: 600;
  }

  #categories .content-smart-vacation .vacation-desc{
    font-size: 24px;
    color: var(--white);
    line-height: 32px;
    margin-top: 35px;
  }

  #categories .content-smart-vacation .vacation-menu{
    font-size: 24px;
    color: var(--white);
    line-height: 32px;
    margin-top: 40px;
  }

  /* PROMOTION */
  #promotion .promotion-card{
    background-color: var(--blue);
    background-image: url(../img/star-promotion.png);
    border-radius: 20px;
    background-size: cover;
    padding-top: 65px;
    padding-bottom: 65px;
  }

  #promotion .promotion-title h3{
    font-size: 40px;
    font-weight: 700;
    color: var(--white);
    line-height: 55px;
  }

  #promotion .promotion-desc{
    margin-top: 25px;
    font-size: 24px;
    line-height: 35px;
    color: var(--grey-soft);
  }

  #promotion .promotion-btn{
    width: 140px;
    height: 52px;
    padding: 15px;
    background-color: var(--white);
    border-radius: 8px;
    margin: auto;
    margin-top: 30px;
  }

  #promotion .promotion-btn a{
    font-size: 18px;
    line-height: 21.94px;
    letter-spacing: 5%;
    color: var(--blue);
    text-decoration: none;
    font-weight: 600;
  }

  /* ABOUT PAGE */

  #stats {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #stats .stats-container{
    background-color: var(--background);
    height: auto;
    width: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  #stats .stats-title{
    color: var(--blue);
    font-size: 56px;
    font-weight: 700;
    line-height: 68.26px;
  }

  #stats .stats-desc{
    color: var(--grey);
    font-size: 24px;
    font-weight: 500;
    line-height: 29.26px;
  }

  #stats .row-divider .stats-col:not(:last-child){
    border-right: 2px solid var(--line-stroke);
    margin-right: 20px;
  }


.description-container {
  background-color: #3092D9; /* Warna latar belakang biru */
  background-image: url('../img/map-desc.png'); /* URL gambar latar belakang */
  background-size: cover;
  padding: 50px 20px;
  margin-top: 40px;
  border-radius: 20px;

}
.description-content{
    padding-left: 90px;
    padding-right: 90px;
}

.description-content h2{
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 40px;
  text-align: center;
  line-height: 48.76px;
  font-weight: 600;
  color: #fff; /* Warna teks */
}

.description-title {
  font-size: 32px;
  margin-bottom: 20px;
 
}

.description-desc {
  font-size: 18px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 32px;
  color: white;
  margin: auto;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.menu-list li{
  list-style: disc;
  color: white;
  font-size: 24px;
  line-height: 29.26px;
}
.menu-column {
  flex: 1;
}

.menu-column ul {
  list-style: none;
  /* padding: 0; */
}

.menu-column ul li {
  margin-bottom: 10px;
}

.description-container {
  display: none;
}

.description-container.active {
  display: block;
}

/* TOUR DESKTOP */
.domestic-tour-packages {
  padding: 50px 20px;
}

.tour-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.tour-header h1{
  font-size: 40px;
  line-height: 55px;
  margin-right: 50px;
}
.tour-description {
  flex: 1;
  margin: 0 20px;
}

.tour-description p {
  font-size: 20px;
  color: #7B7B7B;
  line-height: 28px;
}

.tour-navigation button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.tour-navigation button:hover {
  background-color: #0056b3;
}

.prev-button {
  margin-right: 10px;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.image-column img {
  width: 350px;
  height: 400px;
}


/* ARMADA PAGES */
.armada-card{
  width: fit-content;
  background-color: var(--background);
  height: 510px;
  border-radius: 20px;
}

.armada-img{
  width: 100%;
}

.armada-desc{
  padding: 30px;
}

.armada-desc h5{
  font-size: 24px;
  font-weight: 600;
  color: var(--black);
  line-height: 29.26px;
}

/* .armada-info{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
} */

.armada-desc .info-qty,
.armada-desc .info-harga{
  margin-top: 20px;
  font-size: 18px;
  line-height: 21.94px;
  color: var(--grey);
}

.armada-desc .info-harga{
  margin-bottom: 30px;
}


.armada-desc .armada-btn {
  width: 300px;
  height: 52px;
  background-color: var(--blue);
  border-radius: 8px;
  margin: auto;
  text-align: center;
  padding: 15px;
}

.armada-desc .armada-btn:hover {
  background-color: var(--orange);
}

.armada-btn a{
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
}

.armada-btn a:hover{
  color: var(--white);
}

/* .armada-desc .info-harga{
  margin-top: 20px;
} */
/* .card-armada{
  width: 380px;
  background: var(--background);
  border-radius: 20px;
  padding-bottom: 30px;
}

.armada-desc{
  padding-left: 30px;
  padding-top: 30px;
}

.armada-info{
  padding-left: 30px;
  padding-top: 20px;
  font-size: 18px;
  color: var(--grey);
  line-height: 21.94px;
}

.armada-desc h5{
  font-size: 24px;
  font-weight: 600;
  color: var(--black);
}

.armada-btn {
    width: 300px;
    height: 52px;
    background-color: var(--blue);
    border-radius: 8px;
    text-align: center;
    padding: 15px;
    padding-top: 15px;
    margin: auto;
    margin-top: 30px;

}

.armada-btn:hover {
  width: 300px;
  height: 52px;
  background-color: var(--orange);
  border-radius: 8px;
  text-align: center;
  padding: 15px;
  padding-top: 15px;
  margin: auto;
  margin-top: 30px;
}

.armada-btn a{
  font-size: 18px;
  font-weight: 500;
  color: var(--white);
  text-decoration: none;
}
.armada-btn a:hover{
  font-size: 18px;
  font-weight: 500;
  color: var(--white);
  text-decoration: none;
} */

#armada .nav .nav-item:not(:last-child){
  border-right: 4px solid var(--line-stroke);
  margin-right: 30px;
}

#armada .nav-item a{
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
  margin-right: 30px;

}

#armada .nav-link.active,
#armada .nav-link:hover,
#categories.nav-link:focus {
  color: var(--blue);
  font-weight: 600;
}

#armada .nav-link.active::after {
  content: "";
  display: block;
  width: 100%; 
  height: 10px; 
  margin-top: 5px;
  background-image: url('../img/tab-active.png'); 
  background-repeat: no-repeat; 
}

/* ABOUT */

.about-section {
  padding: 50px 0;
}

#about .about-sub-title{
  color: #333237;
    font-size: 40px;
    font-weight: 600;
    line-height: 48.76px;
}

#about .about-desc{
  font-size: 20px;
    line-height: 28px;
    color: var(--grey);
    margin-top: 15px;
}

#about .btn-contact{
  width: 133px;
  height: 52px;
  border-radius: 8px;
  background-color: var(--blue);
  border: none;
  color: white;
  margin-top: 20px;
  margin-right: 40px;
}

#about .btn-contact:hover{
  width: 133px;
  height: 52px;
  border-radius: 8px;
  background-color: var(--orange);
  border: none;
  color: white;
  margin-top: 20px;
  margin-right: 40px;

}

#about .btn-service{
  width: 147px;
  height: 52px;
  border-radius: 8px;
  background-color: var(--blue);
  border: none;
  color: white;
  margin-top: 20px;
}

#about .btn-service:hover{
  width: 147px;
  height: 52px;
  border-radius: 8px;
  background-color: var(--orange);
  border: none;
  color: white;
  margin-top: 20px;
}




.about-buttons button {
  margin-right: 10px; /* Jarak antara tombol */
}



/* CONTACT */

#form-contact{
  margin-top: 40px;
}
.label-input{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.form-control{
  height: 50px;
  outline: 2px;
  border: 2px solid #DDE5E9;
}

.btn-email{
  width: 100%;
  height: 52px;
  margin-top: 62px;
  background-color: #3092D9;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  letter-spacing: 1%;
  line-height: 21.94px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
}

.btn-email:hover{
  background-color: #FF6C00;
}

.card-image{
  background-color: #3092D9;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  padding: 25px;
}

/* #contact-call{
  height: 100px;
} */

#contact-call h3{
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  color: #333237;
}

#contact-call p{
  font-size: 20px;
  font-weight: 500;
  line-height: 24.38px;
  letter-spacing: 2px;
  color: #7B7B7B;
}

.form-control-custom{
  width: 100%;
  height: 50px;
  outline: 2px;
  border: 2px solid #DDE5E9;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 16px;
  line-height: 19.5px;
}

input::placeholder{
  font-size: 16px;
  line-height: 19.5px;
  color: #7A7A7A80;

}

textarea::placeholder{
  font-size: 16px;
  line-height: 19.5px;
  color: #7A7A7A80;

}



@media (max-width: 767px) { /* Style untuk tampilan mobile */
    .card-image{
      width: 60px;
      height: 60px;
      padding: 15px;
    }

    .card-image img{
      width: 30px;
      height: 30px;
      margin-right: 21px;
    }

    #contact-call h3{
      font-size: 16px;
      font-weight: 600;
      line-height: 25.6px;
      color: #333237;
    }
    
    #contact-call p{
      width: 147px;
      font-size: 10px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0px;
      color: #7B7B7B;
    }

    /* #img-contact img{
      height: 240px;
      width: 339px;
    } */

    /* #contact-title{
      font-size: 16px;
      line-height: 24px;
      margin-top: 53px;
    }

    #contact-desc{
      font-size: 12px;
      line-height: 19.2px;
    } */

    .label-input{
      font-size: 14px;
    }

    .form-control-custom{
      height: 40px;
      padding: 12px 18px;
    }

    .btn-email{
      margin-top: 30px;
    }
}


/* RESPONSIVE */

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

  
  .top{
    width: 100%;
  }
  .header-top{
    flex-direction: column;
    align-items: flex-start;
  }
  .header-top img{
    width: 183.54px;
    height: 89.37px;
  }

  .header-title{
    font-size: 20px;
  }
  

  .mb-5{
    margin-bottom: 0;
  }
  .mt-5{
    margin-bottom: 0;
  }
  /* NAVBAR */
  .navbar-logo{
    width: 55px;
    height: 29px;
  }
  /* HERO */
    #hero{
      height: 270px;
    }
    #hero .banner-image{
      height: 270px;

    }
    .d-flex {
      flex-direction: column;
    }

    .hero-btn{
      margin: auto;
      width: 95px;
      height: 35px;
      padding: 8px, 20px, 8px, 20px;
      font-size: 14px;
      line-height: 17.07px;
      text-align: center;
      margin-top: 45px;
    }

    .hero-title{
      font-size: 24px;
      text-align: center;
      line-height: 25.6px;
    }

    .hero-desc{
      text-align: center;
      font-size: 12px;
      line-height: 14.63px;
    }

    .d-flex {
      flex-direction: column;
    }

  /* EXPERIENCE SECTION */
    #experience .img-experience img{
      order: 1;
      width: 300.36px;
      height: 233px;
      display: block;
      margin: 0 auto;
    }

    #experience .desc-experience{
      order: -1;
    }

    #experience .experience-title{
      width: 136px;
      height: 35px;
      margin-top: 45px;
      font-size: 12px;
      line-height: 14.63px;
    }

    #experience .experience-sub-title{
      font-size: 16px;
      line-height: 24px;
      color: var(--black);
    }

    #experience .experience-desc{
      font-size: 12px;
      line-height: 19.2px;
      font-weight: 400;
    }

    #experience .count-stats{
      font-size: 20px;
      line-height: 24.38px;
    }

    #experience .desc-stats{
      font-size: 10px;
    }

    #experience .line {
      height: 39px;
      border: 1.14px solid var(--line-stroke);
      margin-bottom: 35px;
    }

    /* SERVICES */

    .header{
      height: 120px;
      margin-top: 500px;
    }

    .header img{
      width: 183.54px;
      height: 89.37px;
    }

    #service .service-title{
      width: 118px;
      height: 35px;
      font-size: 12px;
      line-height: 14.63px;
    }

    
    #service .service-sub-title{
      font-size: 16px;
      line-height: 24px;
    }

    #service .service-desc{
      font-size: 12px;
      line-height: 19.2px;
      margin-left: 0px;
      
    }

    #service .service-btn{
      display: none;
    }

    #service .hide-br{
      display: none;
    }

    #service .service-categories{
      width: 260px;
      height: 260px;
      margin: auto ;
      margin-bottom: 45px;

    }

    #service .content-categories {
      /* padding: 0; */
      padding-top: 65px;
    }

    #service .service-categories:first-child{
      margin-top: 0;
    }

    #service .service-categories:hover{
      width: 260px;
      height: 260px;
      /* margin: 0 auto; */
      margin-bottom: 45px;

    }
    #service .service-categories:hover:first-child {
        margin-top: 0;
    }

    #service .categories-title{
      font-size: 22px;
      line-height: 32.31px;
      /* align-items: center; */
      margin-bottom: 0;
      margin-top: 10px;
    }

    #service .categories-icon{
      height: 26.15px;
      width: 31.5px;
      margin: 0;
      padding-bottom: 20px;
      margin-left: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    } 

    .categories-icon img{
      height: 26px;
    }
    .service-categories .hover-img {
      display: none;
    }
    
    .service-categories:hover .default-img {
      display: none;
    }
    
    .service-categories:hover .hover-img {
      /* display: inline-block; */
      -webkit-transition: all 1s ease;
      transition: all 1s ease;
      display: inline-block;
    }


    #service .categories-desc{
      font-size: 12px;
      line-height: 19.69px;
      margin-top: 11px;
    }

    /* DESTINATIONS */
    #destination{
      background: linear-gradient(#3092D9 100%, white 0%);
      width: 100%;
      padding-bottom: 79px;
      /* height: 80%; */
  }

    #destination  .destination-title{
      width: 145px;
      height: 40px;
      background-color: #FFFFFF33;
      border: none;
      font-size: 12px;
      text-align: center;
      padding: 10px, 20px, 10px, 20px;
    }

    #destination  .destination-sub-title{
      font-size: 16px;
      line-height: 24px;
    }
    #destination .img-union{
      display: none;
    }
    #destination .destination-content{
      justify-content: center;
      text-align: center;
    }
    #destination .image-container{
      width: 189px;
      height: 216px;
      font-size: 13px;
    }
    #destination .image-text{
      font-size: 13px;

    }
    #destination .destination-1{
        margin: 0;
    } 
    #destination .destination-3{
      margin: 0;
    } 

    #destination .destination-slider{
      flex-wrap: none;
      justify-content: none;
    }

    #destination .destination-slider{
      display: block;
    }
    
    #destination .slider{
      margin-right: 0px;
    }

    #destination .destination-btn{
        margin-top: 40px;
        width: 200px;
        border: 2px solid var(--white);
        height: 35px;
        color: var(--white);
        font-size: 12px;
        padding: 10px, 15px, 10px, 15px;
    }

    #destination .img-hover-zoom {
      width: 189px;
      height: 216px;
      overflow: hidden;
      border-radius: 15px;
    }
    
    #destination .img-hover-zoom img {
      transition: transform .1s ease;
      border-radius: 15px;
      width: 189px;
    }
    
    #destination .img-hover-zoom:hover img {
      transform: scale(1.2);
      border-radius: 15px;
      width: 189px;
    }
  
    /* TESTIMONIAL */

    .testi-slide{
      display: none;
    }

    .testi-card{
      background-color: #FAF9FB;
      border-radius: 20px;
      height: auto;
      /* width: 1280px; */

    }
  
    #testi .img-testi-star{
      width: 249.93px;
      height: 249.93px;
    }
    .testi-story{
      margin: 0;
      padding: 20px;
    }
  
    .testi-rating{
      display: flex;
      align-items: center; 
  
    }
  
    .testi-rating img{
      width: 18px;
      height: 18px;
      margin-right: 2px;
    }
  
    .testi-rating p{
      font-size: 14px;
      /* line-height: 29.26px; */
      color: #7B7B7B;
      font-weight: 600;
      margin-bottom: 0;
    }
  
    .testi-comment{
      font-size: 12px;
      line-height: 19.2px;
      color: #7B7B7B;
      /* width: 566px; */
      margin-top: 11px;
    }
  
    .testi-line{
      width: 181px;
      border: 2px solid #DDE5E9;
      margin-top: 19px;
    }
  
    .testi-nama{
      margin-top: 10px;
      font-size: 12px;
      font-weight: 600;
      color: #7B7B7B;
    }
    .testi-jabatan{
      font-size: 10px;
      color: #7B7B7B;
    }
    /* .testi-img img{
      width: 112.88px;
      height: 129px;
      border-radius: 15px;  
      position: absolute;
      top: 10%;
      margin-left: 220px;
      margin-top: 80px;
      z-index: 1;
    } */

    /* .testi-img {
      padding: 20px;
    } */

    .testi-img-mobile-container {
      padding: 20px;
    }
    
    .testi-img-mobile {
      border-radius: 15px;  
      width: 8rem;
      height: 10rem;
      /* height: 129px;
      width: 112.88px; */
      margin-top: -7rem;
      /* margin-right: auto; */
      margin-left: auto;
    }

    /* FOOTER */

    #footer .footer-logo{
      height: 58px;
      width: 110px;
      margin-top: 35px;
    }

    #footer .footer-about{
        font-size: 12px;
        line-height: 19.2px;
    }

    /* #footer .footer-sosmed{
      font-size: ;
    } */

    #footer h3{
      font-size: 16px;
      line-height: 19.5px;
      margin-bottom: 15px;
      margin-top: 32px;
    }

    #footer li{
      margin-bottom: 10px;
    }

    #footer a{
      font-size: 12px;
      line-height: 14.63px;
    }

    #footer .icon{
      font-size: 20px;
    }

    #footer .copyright{
      margin-top: 37px;
      font-size: 12px;
      line-height: 14.63px;
    }

    /* SERVICE PAGE */
    #header-service .header{
        margin-top: 0px;
    }

    #header-service .header-title{
      font-size: 20px;
      line-height: 24.38px;
      font-weight: 700;
    }

    #services-page .service-title{
      width: 102px;
      height: 35px;
      font-size: 12px;
      line-height: 14.63px;
      letter-spacing: 0;
      padding: 10px 20px;
    }

    #services-page .service-sub-title{
      margin-top: 10px;

    }

    #services-page .service-sub-title h3{
      font-size: 16px;
      line-height: 24px;
    }

    #services-page .service-desc{
      font-size: 12px;
      line-height: 19.2px;
    }

    #services-page .service-img{
      margin: auto;
      text-align: center;

    }
    #services-page .service-img img{
      width: 245.86px;
      height: 151px;
      margin-top: 20px;
    }

    #categories .nav {
      flex-wrap: nowrap; 
      overflow-x: auto;
    }
    #categories .nav-item {
        flex: 0 0 auto; 
    }

  #categories .slider-tab {
      overflow-x: auto;
      white-space: nowrap;
  }

  #categories .nav .nav-item:not(:last-child){
    border-right: none;
    margin-right: 0;
  }

    #categories .nav-item a{
      font-size: 12px;
      line-height: 14.63px;
      margin-right: 0px;
    }

    #categories .nav-link.active,
    #categories .nav-link:hover,
    #categories.nav-link:focus {
        color: var(--blue);
        font-weight: 600;
    }

  #categories .nav-link.active::after {
      content: "";
      display: block;
      width: 118px; 
      height: 5px; 
      margin-top: 5px;
      background-image: url('../img/tab-active-mobile.svg'); 
      background-repeat: no-repeat; 
  }

  #categories .content-smart-vacation .vacation-card{
    background-color: var(--blue);
    background-image: url('../img/map-desc.png');
    border-radius: 20px;
    padding: 40px 18px;
    background-size: cover;
  }
  #categories .tab-content .vacation-title h3{
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;

  }

  #categories .tab-content .vacation-desc{
    font-size: 12px;
    line-height: 19.2px;
    margin-top: 20px;
  }

  #categories .tab-content .vacation-menu{
    font-size: 12px;
    line-height: 19.2px;
    margin-top: 0;

  }

  #categories .domestic-tour h1{
    font-size: 16px;
    font-weight: 600;
  }

  #categories .domestic-tour p{
    font-size: 12px;
    line-height: 19.2px;
    font-weight: 400;
    margin-bottom: 0;
  }

  #categories .domestic-tour .domestic-slide img{
    /* display: none; */
    height: 40px;
    width: 40px;
    order: 2;
    
  }

  #categories .domestic-tour .domestic-slider{
    margin: auto;
    text-align: center;
    justify-content: center;
  }
  #categories .domestic-tour .domestic-slider img{
    width: 257px;
    height: 293px;
    margin-top: 0;
    
  } 

  #categories  .slide-domestic-mobile{
    /* margin: auto; */
    text-align: center;
    margin-left: 40%;
  }

  #categories .international-tour h1{
    font-size: 16px;
    font-weight: 600;
  }

  #categories .international-tour p{
    font-size: 12px;
    line-height: 19.2px;
    font-weight: 400;
    margin-bottom: 0;
  }

  #categories .international-tour .international-slide img{
    /* display: none; */
    height: 40px;
    width: 40px;
    order: 2;
    
  }

  #categories .international-tour .international-slider{
    margin: auto;
    text-align: center;
    justify-content: center;
  }
  #categories .international-tour .international-slider img{
    width: 257px;
    height: 293px;
    margin-top: 0;
    
  } 

  #categories  .slide-international-mobile{
    /* margin: auto; */
    text-align: center;
    margin-left: 40%;
  }
  

  #promotion .promotion-card{
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #promotion .promotion-title h3{
    font-size: 16px;
    text-align: left;
  }

  #promotion .promotion-desc{
    font-size: 12px;
    line-height: 19.2px;
    text-align: left;
    margin-top: 0;
  }

  #promotion .promotion-btn{
    width: 104px;
    height: 35px;
    font-size: 12px;
    line-break: 14.63px;
    padding:5px 15px 10px;
    margin: 0;
  }

  #promotion .promotion-btn a{
    text-align: center;
    font-size: 12px;
    line-break: 14.63px;
  }

  #categories .domestic-tour .outbound-slide img{
    /* display: none; */
    height: 40px;
    width: 40px;
    order: 2;
    
  }

  #categories .domestic-tour .outbound-slider{
    margin: auto;
    text-align: center;
    justify-content: center;
  }
  #categories .domestic-tour .outbound-slider img{
    width: 257px;
    height: 293px;
    margin-top: 0;
    
  } 

  #categories  .slide-outbound-mobile{
    /* margin: auto; */
    text-align: center;
    margin-left: 40%;
  }

  #armada .nav .nav-item:not(:last-child){
    border-right: none;
    margin-right: 0;
  }

    #armada .nav-item a{
      font-size: 12px;
      line-height: 14.63px;
      margin-right: 0px;
    }

    #armada .nav-link.active,
    #armada .nav-link:hover,
    #armada.nav-link:focus {
        color: var(--blue);
        font-weight: 600;
    }

  #armada .nav-link.active::after {
      content: "";
      display: block;
      width: 118px; 
      height: 5px; 
      margin-top: 5px;
      background-image: url('../img/tab-active-mobile.svg'); 
      background-repeat: no-repeat; 
  }

  #armada .nav {
    flex-wrap: nowrap; 
    overflow-x: auto;
  }

  .armada-card{
    width: fit-content;
    height: 385px;
    margin: auto;
  }
  
  .armada-desc{
    padding: 20px;
  }

  .armada-card .armada-img img{
    width: 339px;
    /* height: 185px; */
  }

  .armada-desc h5{
    font-size: 16px;
    line-height: 24px;
  }

  .armada-desc .info-qty,
  .armada-desc .info-harga{
    font-size: 14px;
    line-height: 17.07px;
    margin-top: 20px;
  }

  .armada-desc .info-qty img{
    width: 22px;
    height: 17.29px;
  }

  .info-qty {
    flex-direction: row; 
    align-items: start;
  }
  .info-qty .flex-grow-1 {
    margin-top: 0; 
  }

  .info-harga {
    flex-direction: row; 
    align-items: start;
  }
  .info-harga .flex-grow-1 {
    margin-top: 0; 
  }

  .armada-desc .info-harga img{
    width: 22px;
    height: 17.29px;
  }
  
  .armada-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .armada-btn-mobile {
    width: auto; 
    height: 35px;
    padding: 5px 15px;
    background-color: var(--blue);
    border-radius: 8px;
  }

  .armada-btn-mobile:hover {
    background-color: var(--orange);
  }
  .armada-btn-mobile a {
    color: var(--white);
    font-weight: 600;
    font-size: 12px;
    line-height: 14.63px;
    text-decoration: none;
  }

  .armada-btn-mobile a:hover {
    color: var(--white);
  }


  /* CONTACT - IMAGE */
  #contact .container .row .img-contact-mobile{
    margin-bottom: 50px;
  }

  /* GALLERY */

  #gallery .service-sub-title{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
  #gallery .service-desc{
    font-size: 12px;
    line-height: 19.2px;
    font-weight: 400;
  }

  #gallery .gallery-slide img{
    width: 29px;
    height: 29px;
  }
  #gallery .gallery-slider .slider .gal-1 img{
      width: 170px;
      height: 108.9px;
    }

  #gallery .gallery-slider .slider .gal-2 img{
    width: 138.46px;
      height: 150px;
    }
  #gallery .gallery-slider .slider .gal-3 img{
    width: 132px;
    height: 141px;
  }

  #gallery .gallery-slider .slider .gal-4 img{
    width: 160px;
    height: 170px;
  }

  #gallery .gallery-slider .slider .gal-5 img{
    width: 116px;
    height: 123px;

  }

  #gallery .gallery-slider .slider .gal-6 img{
    width: 177px;
    height: 117px;
  }

  .gal-4 { order: 5; }
  .gal-5 { order: 6; }
  .gal-6 { order: 4; }

  /* ABOUT */

  #about .img-about img{
    width: 339px;
    height: 233px;
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  #about .about-sub-title{
    font-size: 20px;
    line-height: 24.38px;
    color: var(--black);
    margin-top: 20px;
  }
  #about .about-desc{
    font-size: 12px;
    line-height: 19.2px;
    font-weight: 400;
    margin-bottom: 0px;
  }

  #about .btn-contact{
    width: 103px;
    height: 35px;
    font-size: 12px;
    line-height: 14.63px;
    margin-top: 20px;
    margin-right: 20px;
  }
  #about .btn-contact:hover{
    width: 103px;
    height: 35px;
    font-size: 12px;
    line-height: 14.63px;
    margin-top: 20px;
    margin-right: 20px;

  }

  #about .btn-service{
    width: 103px;
    height: 35px;
    font-size: 12px;
    line-height: 14.63px;
    margin-top: 20px;
  }
  #about .btn-service:hover{
    width: 103px;
    height: 35px;
    font-size: 12px;
    line-height: 14.63px;
    margin-top: 20px;
  }

  #stats .stats-container-mobile{
    background-color: var(--blue);
    /* padding-top: 50px; */
    /* padding-bottom: 60px; */
    padding-left: 40px;
    /* padding-right: 40px; */
  }

  #stats .stats-container-mobile .stats-title{
    color: var(--white);
    font-size: 36px;
    font-weight: 600;
    line-height: 43.88px;
  }

  #stats .stats-container-mobile .stats-desc{
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
  }


 }

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

  /* HERO */
  /* #hero .container{
      margin-top: 200px;
    } */

  /* EXPERIENCE */
  #experience .img-experience img{
    order: 1;
    width: 300.36px;
    height: 233px;
    display: block;
    margin: 0 auto;
  }

  #experience .desc-experience{
    order: -1;
  }

 }

@media (max-width: 768px){
   /* #hero .container{
      margin-top: 200px;
    } */
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  
  /* HERO */
    /* #hero .container{
      margin-top: 200px;
    } */

    #experience .img-experience img{
      order: 1;
      margin-top: 40px;
      /* width: 300.36px;
      height: 300px;
      display: block;
      margin: 0 auto; */
    }

    #experience .desc-experience{
      order: -1;
    }

    /* DESTINATION */

    #destination{
      background: linear-gradient(#3092D9 100%, white 0%);
      width: 100%;
      padding-bottom: 79px;
      /* height: 80%; */
    }
    #destination .destination-1{
      margin: 0;
    } 
    #destination .destination-3{
      margin: 0;
    } 

    #destination .destination-slider{
      flex-wrap: none;
      justify-content: none;
    }

    #destination .destination-slider{
      flex-wrap: none;
      justify-content: none;
    }

    #destination .destination-slider{
      display: block;
    }
    
    #destination .slider{
      margin-right: 0px;
    }

    #destination .destination-btn{
        margin-top: 40px;
        width: 200px;
        border: 2px solid var(--white);
        height: 35px;
        color: var(--white);
        font-size: 12px;
        padding: 10px, 15px, 10px, 15px;
    }

    #destination .img-hover-zoom {
      /* width: 189px;
      height: 216px; */
      overflow: hidden;
      border-radius: 15px;
    }
    
    #destination .img-hover-zoom img {
      transition: transform .1s ease;
      border-radius: 15px;
      /* width: 189px; */
    }
    
    #destination .img-hover-zoom:hover img {
      transform: scale(1.2);
      border-radius: 15px;
      /* width: 189px; */
    }


    .armada-card{
      width: fit-content;
      height: 385px;
      margin: auto;
    }
    
    .armada-desc{
      padding: 20px;
    }
  
    .armada-card .armada-img img{
      width: 339px;
      /* height: 185px; */
    }
  
    .armada-desc h5{
      font-size: 16px;
      line-height: 24px;
    }
  
    .armada-desc .info-qty,
    .armada-desc .info-harga{
      font-size: 14px;
      line-height: 17.07px;
      margin-top: 20px;
    }
  
    .armada-desc .info-qty img{
      width: 22px;
      height: 17.29px;
    }
  
    .info-qty {
      flex-direction: row; 
      align-items: start;
    }
    .info-qty .flex-grow-1 {
      margin-top: 0; 
    }
  
    .info-harga {
      flex-direction: row; 
      align-items: start;
    }
    .info-harga .flex-grow-1 {
      margin-top: 0; 
    }
  
    .armada-desc .info-harga img{
      width: 22px;
      height: 17.29px;
    }
    
    .armada-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .armada-btn-mobile {
      width: auto; 
      height: 35px;
      padding: 5px 15px;
      background-color: var(--blue);
      border-radius: 8px;
    }
  
    .armada-btn-mobile:hover {
      background-color: var(--orange);
    }
    .armada-btn-mobile a {
      color: var(--white);
      font-weight: 600;
      font-size: 12px;
      line-height: 14.63px;
      text-decoration: none;
    }
  
    .armada-btn-mobile a:hover {
      color: var(--white);
    }
    
}

 /* EXPERIENCE */


/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

  #experience .img-experience{
    /* order: 1;
    margin-top: 40px; */
    width: 100px;
    height: 300px;
    /* display: block;
    margin: 0 auto; */
  }
 }

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {  }


